# Configuration file for spectral_extractor

[processing_settings]
# Continuum flat source to be used for aperture extraction
ContinuumFile = None

# Normalized 2D Flat file to be used for correcting pixel to pixel variation before extraction
FlatNFile = None

# Bad Pixel Mask file to be used for fixing bad pixels
BadPixMask = None

# Array of labels for the aperture trace regions
ApertureLabel = None

[extraction_settings]

# Dispersion is in X axis  if True, enter False for Dispersion in Y axis
dispersion_Xaxis = True

# Rectification Method : Bandlimited , None
RectificationMethod =  None
# Rectification window size is the height of the rectified order centered to aperture trace
RectificationWindow = (-8,8)

# Extraction Methos: Sum, Optimal
ExtractionMethod = Sum
#Sum extraction window is the aperture for sum extraction
ApertureWindow = (-6,6)