# Configuration file for spectral_extractor

[processing_settings]
# Continuum flat source to be used for aperture extraction
ContinuumFile = None

# Normalized 2D Flat file to be used for correcting pixel to pixel variation before extraction
FlatNFile = None

# Bad Pixel Mask file to be used for fixing bad pixels
BadPixMask = None

# Array of labels for the aperture trace regions
ApertureLabel = None

[extraction_settings]

